<p id="notice"><%= notice %></p>

<h1>Dreams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date occurred</th>
      <th>Belongs to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dreams.each do |dream| %>
      <tr>
        <td><%= dream.title %></td>
        <td><%= dream.body %></td>
        <td><%= dream.date_occurred %></td>
        <td><%= dream.belongs_to %></td>
        <td><%= link_to 'Show', dream %></td>
        <td><%= link_to 'Edit', edit_dream_path(dream) %></td>
        <td><%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless logged_in? %>
    <%= link_to 'New Dream', new_dream_path %>
<% end %>
