<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dream.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @dream.body %>
</p>

<p>
  <strong>Date occurred:</strong>
  <%= @dream.date_occurred %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @dream.user %>
</p>

<%= link_to 'Edit', edit_dream_path(@dream) %> |
<%= link_to 'Back', dreams_path %>
