<h1>Edit Profile</h1>
<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>

    <div class="field">
        <%= f.label :real_name %>
        <%= f.text_field :real_name %>
    </div>

    <div class="field">
        <%= f.label :profile %>
        <%= f.text_area :profile %>
    </div>

    <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>
    
    <div class="actions"><%= f.submit "Submit" %></div>
    <div class="actions"><%= link_to 'Cancel', settings_path  %></div>

<% end  %>
