<h2><span class="user_username"><%= @user.username %></span></h2>
name: <span class="user_real-name"><%= @user.real_name %></span><br />
location: <span class="user_location"><%= @user.location %></span><br />
profile: <span class="user_profile"><%= @user.profile %></span><br />

<%= link_to "Edit", edit_settings_path  %>
