<!DOCTYPE html>
<html>
  <head>
    <title>Dreamcollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="user_header">
          <% if logged_in? %>
              <%= link_to 'Logout', logout_path %>
          <% else %>
              <%= link_to "Sign Up", signup_path %>
              <%= link_to "Log In", login_path %>       
          <% end %>

      </div>
    <%= yield %>
  </body>
</html>
